html {
  height:100%;
  width: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height:100%;
  width: 100%;
  overflow:auto;

}

div#root{
  height:100%;
  width:100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.menuitem{
  font-size: 20px;
  font-weight: bold;
  font-family: "Avenir", sans-serif;
  margin-left: 40px;


}

/*.menuitem > a:hover{*/
/*  color: #000080 !important;*/
/*}*/

/*.menuitem > a{*/
/*  color: #ccccff !important;*/
/*}*/

.active {
  color: #192a5a !important;
  padding-right: 40px !important;
}
.navstyle{
  color: #8790a7 !important;
  padding-right: 30px !important;

}
.navstyle:hover{
  color: #192a5a !important;
}

.logout{
  color: #192a5a !important;
  position: absolute;
  right: 30px;
}
.navbackground{
  background-color: white;
  border-bottom: 3px solid #FAFBFF;
}
.bodybackround{
  position:fixed;
  background-color: #FAFBFF;
  /*left:210px;*/
  margin: 0 200px 0 0;
  padding: 0 200px 0 0;

  width: 80%;
  height: 100%;
}
hr{
  padding: 0px;
  margin: 0px;
  width: 100%;
}
#sidebar{
  position:fixed;
  background-color: white;
  height: 100%;
  width: 200px;
  margin-top: 0px;

}
.box{
  margin: 25px;
  border: 1px solid #eaedf7;
  justify-content: center;
  text-align: center;
  font-family: "Avenir" !important;

}
.inside-box{
  border: 1px solid #eaedf7;
  width: 50%;
  margin: 3px;
  padding: 0 !important;

}
.box-center{
  margin-left: 190px;
  margin-right: 250px;
  padding: 8px;
  border: 1px solid #eaedf7;
  justify-content: center;
  text-align: center;
  font-family: "Avenir" !important;
  width: 104%;
  margin-bottom: 20px;

}
.box-sm{
  border: 1px solid #eaedf7 !important;
  margin: 1px 1px 1px 0;
  padding: 1px 1px 1px 0;
  justify-content: start !important;
  text-align: start !important;
  align-items: start !important;
  font-family: Avenir !important;
  color: #3f5aa6 !important;


}

.sidenavbutton{
  padding: 10px;
  margin: 10px;
  border-radius: 24px !important;
  background-color: #192a5a !important;
  border-color: #192a5a !important;
}
.boardheader{
  color: #192a5a;
  margin-top: 2px;
  margin-bottom: 0;
}


div.body{
  background: white;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}
div.justified {
  display: flex;
  justify-content: center;
  align-items: center;
}

div.center-alligned {
  align-items: center;
}
div.body > div.content-container {
  flex-direction: column;
  background: #FAFBFF;
  width:60%;
  height:100%;
  padding: 1%;
}
div.ranking-table-wrapper{
  background: white;
  width: 90%;
  height:50%;
  border-color: #EBEEF7;
  border-width: 1px;
  font-family: Avenir;
  /*border-color:#ff3366;*/
  border-width: 1px; /* this allows you to adjust the thickness */
  border-style: solid;
}
div.ranking-entry-wrapper{
  height: 50px;
  width: 90%;
  border-color: #EBEEF7;
  /*border-width: 1px;*/
  /*border-color:#ff3366;*/
  /*border-width: 1px; !* this allows you to adjust the thickness *!*/
  border-style: solid;
  border-width: 0.5px 0 0.5px 0;
  display: flex;
  flex-direction: row;

}
div.ranking-table-wrapper > div.ranking-entry-wrapper:first-child {
  border-width: 2px 0 0.5px 0;
}
div.ranking-table-wrapper > div.ranking-entry-wrapper:last-child {
  border-width: 0.5px 0 2px 0;
}

img.avatar{
  width:10%;
  margin: 2px 10px 2px 10px;
  /*border-radius: 50%;*/
}
div.name-title-container {
  width: 60%;
  flex-direction: column;
}

div.ranking-entry-wrapper > * {
  display: flex;
  justify-content: center;
  color: #3f5aa6;
}
h1.position {
  width:10%;
  color: rgba(63, 90, 166, 0.55);
  font-size: 24px;
  align-items: center;
  margin: 0;

}
p{
  font-family: Avenir;
}
h1.name {
  font-size: 16px;
  font-family: Avenir;
  font-weight: 900;
  margin: 0;
}
h1.title {
  font-size: 12px;
  font-family: Avenir;
  font-weight: 100;
}
h1.points {
  font-size: 12px;
  font-family: Avenir;
  font-weight: 100;
  align-items: center;
  margin: 0;
}
h1.content {
  font-size: 12px;
  font-family: Avenir;
  font-weight: 100;
  align-items: center;
  margin: 0;
}
div.ranking-entry-wrapper:first-child > h1.position {
  width:10%;
  color: rgba(63, 90, 166, 1);
}

div.legend-wrapper {
  padding-top:15%;
  width: 90%;
  height: 50%;
  /*background: white;*/
  align-items: center;
  justify-content: center;
}
div.legend-entry-wrapper{
  background: white;
  width: 50%;
  height:50%;
  border-color: #EBEEF7;
  border-width: 1px;
  font-family: Avenir;
  /*border-color:#ff3366;*/
  border-width: 1px; /* this allows you to adjust the thickness */
  border-style: solid;
}

div.slick-slide > div {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.slider{
  width: 90%;
}
div.column-direction {
  flex-direction: column;
}
h1.legend-title {
  margin-left: 25%;
  font-size: 23px;
  font-family: Avenir;
  color: rgba(63, 90, 166, 1);
  font-weight: 900;
}

div.body> div.wrapper> #sidebar{
   position: absolute;

   left: 0;}

div.body> div.wrapper> #sidebar{
   position: absolute;

   left: 0;}

.home-heading{
  font-family: "Avenir", sans-serif !important;
  color: #192a5a;
  display: flex;
  align-self: start;
  font-weight: bold;
}
 .outer-div{
   padding: 25px;
 }

 .row-in-box{
   display: flex;
   align-content: start !important;
   align-self: start !important;
   justify-content: start !important;
   justify-self: start !important;
   margin: 0 !important;
   font-family: "Avenir", sans-serif;
   width: 100%;
   padding: 0 !important;
   padding-top: 2px !important;
 }
 .pt{
   font-size: 22px;
   font-family: "Avenir", sans-serif;
   color: #3f5aa6;
   display: flex;
   align-self: center !important;
   justify-self: center!important;
   font-weight: bold;
 }
.title{
  font-size: 16px;
  font-family: "Avenir", sans-serif;
  color: #3f5aa6;
  font-weight: bold;

}
.description{
  font-size: 11px;
  font-family: "Avenir", sans-serif;
  color: #8790a7;
}


.sidebarRank{

    background-color: white;
    height: 100%;
    width: 200px;
    margin-top: 0px;

}
